<!DOCTYPE html>
<html>

<head>
	<% if (locals.title) { %>
		<title>
			<%= locals.title %>
		</title>
		<% } else { %>
			<title>My Website</title>
			<% } %>
				<style>
					body{
						margin: 0;
					}
					.adminhead{
						
						padding-top: 10px;
								}
					#adminbutton{
						position: absolute;
  						top: 20px;
  						right: 20px;
					}
					.main {
						margin: 0;
						padding: 0;
						background-color: #f2f2f2;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: 100vh;
					}

					h1 {
						font-size: 3rem;
						margin-bottom: 2rem;
					}

					button {
						padding: 1rem 2rem;
						font-size: 1.2rem;
						border-radius: 5px;
						background-color: #008CBA;
						color: #fff;
						border: none;
						cursor: pointer;
						margin-bottom: 1rem;
					}

					button:hover {
						background-color: #005f77;
					}

					.atag {
						display: inline;
					}
				</style>
</head>

<body>
	<div class="adminhead">
		<a href="/admin"><button id="adminbutton">Admin</button></a>
	</div>
	<div class="main">
		
		<h1>Welcome to YourSpace</h1>

		<div class="atag">

			<% if (locals.title=="YourSpace" ) { %>
				<a href="/login"><button>Login</button></a>
				<a href="/Signup"><button>Signup</button></a>
				<% } else { %>
					<a href="/admin/adminlogin"><button>Login</button></a>

				<% } %>


		</div>
	</div>
</body>

</html>